---
layout: layouts/base.njk
title: Resume
---
<section class="section">
  <div class="resume-header">
    <h1>Resume</h1>
    <a class="button-link" href="/assets/resume/Jay - Resume - Apr 1.pdf" download="Jay Jivandas's Resume.pdf">Download PDF</a>
  </div>
  <div class="resume-viewer">
    <iframe src="/assets/resume/Jay - Resume - Apr 1.pdf" title="Jay Jivandas Resume"></iframe>
  </div>
</section>
