---
layout: layouts/base.njk
title: Resume
---
<section class="section">
  <h1>Resume</h1>
  <p>Jay Himanshu Jivandas' Resume.</p>
  <a class="button-link" href="/assets/resume/Jay%20-%20Resume%20-%20Mar%2014%202026.pdf" target="_blank" rel="noopener">Open Resume PDF</a>
</section>
