---
layout: layouts/base.njk
title: Contact
---
<section class="section">
  <h1>Contact</h1>
  <p>Feel free to contact me and set up a meeting. Always open to chat.</p>
  <div class="contact-block">
    <span>Email: <a href="mailto:jivandasjay@gmail.com">jivandasjay@gmail.com</a></span>
    <span>Phone: <a href="tel:+16144961234">+1 (614) 496-1234</a></span>
  </div>
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/jay-himanshu-jivandas-89786a238/">LinkedIn</a>
    <a href="https://github.com/jjivandas">GitHub</a>
  </div>
</section>
