---
layout: layouts/base.njk
title: Home
---
<section class="section">
  <img class="home-portrait" src="/assets/images/Jay-coconut.JPG" alt="Jay Jivandas portrait">
  {{ markdownContent.home | safe }}
</section>
